<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab ya nan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab ya nan</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1> Map component works</h1>

  <div id="map"></div>
  <!-- <script async
    src="https://maps.googleapis.com/maps/api/js?key=REDACTED_SENSITIVE_INFO&callback=initMap">
</script> -->

  <!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
    defer></script> -->

  <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises
      with https://www.npmjs.com/package/@googlemaps/js-api-loader.
      -->

</ion-content>