<app-nav-bar title="Create spot" (titleClicked)="test()"></app-nav-bar>
<!-- <form action="http://127.0.0.1:8000/api-user-login/" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username">
  <label for="password">Password:</label>
  <input type="text" id="password" name="password">
  <input type="submit" value="Submit">
</form> -->

<form [formGroup]="editSpotForm" (ngSubmit)="submitForm()">
  <ion-list>
    <ion-item>
      <ion-input formControlName="spotName" placeholder="Spot name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="spotDescription" placeholder="Spot description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select formControlName="sportDropdown" placeholder="Suitable for:" [multiple]="true" >
        <ion-select-option value="Skateboarding">Skateboarding</ion-select-option>
        <ion-select-option value="BMXing">BMXing</ion-select-option>
        <ion-select-option value="Scooter Riding">Scooter riding</ion-select-option>
        <ion-select-option value="Roller Blading">Roller blading</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <input formControlName="image" type="file" accept="image/*" (change)="onImageChange($event)"/>
    </ion-item>
  </ion-list>
  <!-- TODO: Get rid of above ion-list? -->
  <!-- <div id="mapContainer">
    <div id="map"></div>
  </div> -->
  <ion-button type="submit">Save</ion-button>
  <ion-button [routerLink]="['/map', userID]">Cancel</ion-button>
</form>
<router-outlet></router-outlet>