<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login or Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Login or Register</ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-content>
  <app-nav-bar title="Login or Register"></app-nav-bar>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Login or Register</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- make submitForm -->
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <ion-item *ngIf="registerMode">
      <ion-input formControlName="displayName" placeholder="Display Name"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-label></ion-label> -->
      <ion-input formControlName="username" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-label></ion-label> -->
      <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
    </ion-item>
    <div class="loginButtons">
      <ion-button type="submit">Login</ion-button>
      <ion-button (click)="registerMode =! registerMode">Register</ion-button>
      <ion-button [routerLink]="['/map']">Continue as guest</ion-button>
    </div>
  </form>

  <!-- <ion-list>
    <ion-item>
      <ion-input placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="loginButtons">
    <ion-button>Login</ion-button>
    <ion-button>Register</ion-button>
    <ion-button [routerLink]="['/map']">Continue as guest</ion-button>
  </div> -->
</ion-content>