<!-- <ion-menu contentId="main-content" id="burger-menu">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title id="burgerMenuTitle">Navigate</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list id="burgerMenuButtons">
      <ion-item>
        <ion-button [routerLink]="['/login']">
          <ion-icon name="home-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/map']">
          <ion-icon name="map-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/create-spot']">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->
<div id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons *ngIf="displayLogout" slot="end">
        <!-- <ion-menu-button></ion-menu-button> -->
        <ion-button (click)="logout()">Log Out</ion-button>
    </ion-buttons>
    <ion-title>{{title}} {{username}}</ion-title>
    </ion-toolbar>
  </ion-header>
</div>