<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar">
      <!-- <ion-button [routerLink]="['/map']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button> -->
      <ion-icon [routerLink]="['/']" name="home-outline"></ion-icon>
      <ion-title>
        {{title}}
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login or Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Login or Register</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->