<app-nav-bar title="Create spot"></app-nav-bar>
<ion-content>
  <form [formGroup]="editSpotForm" (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item>
        <ion-input formControlName="spotName" placeholder="Spot name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="spotDescription" placeholder="Spot description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select formControlName="sportDropdown" placeholder="Suitable for:" multiple="true" aria-label="Suitable for:" [interfaceOptions]="alertHeader">
          <ion-select-option value="Skateboarding">Skateboarding</ion-select-option>
          <ion-select-option value="BMXing">BMXing</ion-select-option>
          <ion-select-option value="Scooter Riding">Scooter riding</ion-select-option>
          <ion-select-option value="Roller Blading">Roller blading</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <input formControlName="image" type="file" accept="image/*" (change)="onImageChange($event)"/>
      </ion-item>
    </ion-list>
    <ion-button type="submit">Save</ion-button>
    <ion-button [routerLink]="['/home']">Cancel</ion-button>
  </form>
  <map-component [zoomLevel]="15" [temporaryMarker]="location" [displayDbMarkers]="false"></map-component>
</ion-content>
